language: python
python:
  - "3.6"
install:
  - pip install numpy
  - pip install cython 
  - pip install scipy
  - pip install -r requirements.txt
before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
script:
  - pytest
  